@charset "UTF-8";
/*  
                                           
   _____ _       _              _____  _____ _____ 
  / ___/| (•)   | |           / ____// ____/ ____/  v 4.0.4
 | (___ | |_  __| | ___ ____ | |    | (___| (___  
  \___ \| | |/ _` |/ _ / __/ | |     \___ \ ___ \ 
  ____) | | | (_| |  __\__ \ | |____ ____) |___) |
 /_____/|_|_|\__,_|\___/___/  \_____/_____/_____/                               
                                            
                                            
This file contains styles required for the proper functionality and display
of your Slides Project.
*/

.slide.whiteSlide {
  color: #404041;
}

h1.huge, .h1.huge {
  font-size: 46px;
  line-height: 1.218751;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  font-weight: 700!important;
}

h1.gigantic, .h1.gigantic {
  font-size: 76px;
  line-height: 1.218751;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  font-weight: 800!important;
}

p.hero {
  font-size: 34px;
}

.h2, h2 {
    font-size: 32px;
    line-height: 1.17;
    margin-bottom: 15px;
}

.slides, .slides p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.blue {
    background: #058aa8!important;
    color: #fff!important;
}

.material-icons {
  font-size: 60px!important;
  color: #ec6661;
}

@media (max-width: 435px) {
  h1.gigantic, .h1.gigantic {
    font-size: 40px;
  }
  h1.huge, .h1.huge {
    font-size: 32px;
  }
  p.hero {
    font-size: 26px!important;
  }
}

.pane.top{
  opacity: 1;
}
